<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         colors="true"
         bootstrap="bootstrap.php"
         processIsolation="false"
         stopOnError="true"
         stderr="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>./</directory>
            <filter>
                <whitelist>
                    <directory suffix=".php">Test</directory>
                </whitelist>
            </filter>
        </testsuite>
    </testsuites>
</phpunit>